{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}
{% block main %}
    <h1>INDEX</h1>
    <h4>_______________________________________________________________________________</h4>
    <div class="border border-success p-3 mb-2">
        <div class="border border-success p-3 mb-2">
            <div class="border border-success p-3 mb-2">
                <h1>Chicks</h1>
            </div>
            <h2>
                <li>50% <span class="border border-1">Chick</span> Cost: $150.00</li>
                <li>25% <span class="border border-1">Happy Chick</span> Cost: $200.00</li>
                <li>12.5%<span class="border border-1">Orange Chick</span> Cost: $300.00</li>
                <li>6.25%<span class="border border-1">Excited Chick</span> Cost: $450.00</li>
                <li>3.125%<span class="border border-1">Red Chick</span> Cost: $800.00</li>
                <li>1.5625%<span class="border border-1">Pink Chick</span> Cost: $1000.00</li>
                <li>0.78125%<span class="border border-1">Blue Chick</span> Cost: $2000.00</li>
            </h2>
        </div>
        <div class="border border-success p-3 mb-2">
            <h1>Gifts</h1>
        </div>
        <h2>
            <li>25% <span class="border border-1">Mini Gift</span> Cash: $50.00</li>
            <li>47.5% <span class="border border-1">Tiny Gift</span> Cash: $75.00</li>
            <li>21%<span class="border border-1">Small Gift</span> Cash: $100.00</li>
            <li>10.5%<span class="border border-1">Medium Gift</span> Cash: $150.00</li>
            <li>4.2%<span class="border border-1">Big Gift</span> Cash: $250.00</li>
            <li>1.26%<span class="border border-1">Large Gift</span> Cash: $350.00</li>
            <li>0.252%<span class="border border-1">Massive Gift</span> Cash: $500.00</li>
        </h2>
    </div>
    </div>
{% endblock %}
