{% extends "layout.html" %}

{% block title %}
    Instructions
{% endblock %}

{% block main %}
    <h1>INSTRUCTIONS</h1>
    <h4>________________________________________________________</h4>
    <h2>Game</h2>
    <div class="border border-success p-3 mb-2">
         <h4>
             LuckyChick50 is a game where you can hatch chicks using money and sell your chicks to get money! You start off with $1000.00 dollars once you create an account. You can hatch chicks at the "hatch" page. There are different kinds of chicks. if you are lucky, you might hatch a rare chick! After you hatch your chick, you can either keep it in your inventory for a collection or sell it to earn money!
         </h4>
    </div>
    <h2>How to Create an Account?</h2>
    <div class="border border-success p-3 mb-2">
        <h4>
            At the top right corner, you can see a text that displays "Register". Go ahead and click on it. After that, you can key in your desired username in the first input (top) then key in a very strong password that at least include letters, numbers and symbols in the second input (middle). Lastly, key in your password again in the last input (bottom). Remember to NOT forget your username and/or password as account will not be retrivable without the creator of this websites help. You may email the creator of this website (hiitsme2039@gmail.com) to retrive your account. However, you need to AT LEAST know your username or password. Without them, the account will forver not be retrivable.
        </h4>
   </div>
   <h2>How to login/logout?</h2>
   <div class="border border-success p-3 mb-2">
    <h4>
        Beside the "Register" button at the top right corner, you can see a text that displays "Login". Go ahead and click on it. After that, key in your username in the first input (top) and password in the second input (bottom) you have created in register (more infomation on register is on top). For logout, you need to be logged in order to logout. At the right hand corner, you will see a text that displays "Logout". Simply just click on it and you will be logged out.
    </h4>
   </div>
   <h2>What does everything do?</h2>
   <div class="border border-success p-3 mb-2">
    <h3>HOME</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>
        Takes you to the home page of this website, "LuckyChick50".
    </h4>
   </div>
   <div class="border border-success p-3 mb-2">
    <h3>INVENTORY</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>Takes you to your inventory where you can see all of your chicks. (You only can have one chick per type of chick)</h4>
   </div>
   <div class="border border-success p-3 mb-2">
    <h3>INDEX</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>Where you can see the rarity for a chick, the name for a chick and the price of the chick.</h4>
   </div>
   <div class="border border-success p-3 mb-2">
    <h3>HATCH</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>Hatch a random chick where your luck decides the type of chick you are going to get for you. Decide whether to sell or keep the chick. Each hatch costs $200.00.</h4>
   </div>
   <div class="border border-success p-3 mb-2">
    <h3>UPDATE LEAKS</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>Tells and shows you some of the features that will come up on the upcoming update.</h4>
   </div>
   <div class="border border-success p-3 mb-2">
    <h3>SELL</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>Where you can sell your chick for money depending on the rarity. The rarer a chick, the more money you will get by selling the chick.</h4>
   </div>
   <div class="border border-success p-3 mb-2">
    <h3>NEWS</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>Shows what has happened before.</h4>
   </div>
   <div class="border border-success p-3 mb-2">
    <h3>FREE GIFT</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>You only can enter this site if you have less than $200 where you can't buy any eggs and you have no chicks to sell. If you find yourself in this situation, you can come to this site to get free money. Each gift has it own rarity. the rarer the gift is, the more money you will get.</h4>
   </div>
   <div class="border border-success p-3 mb-2">
    <h3>CHANGE PASSWORD</h3>
   </div>
   <div class="border border-success p-3 mb-2">
    <h4>Where you can change your password you whatever you like! However, it requires your username, password and the new password confirmation.</h4>
   </div>

   <h5>~ END ~</h5>
{% endblock %}
