{% extends "layout.html" %}

{% block title %}
    Leaks
{% endblock %}
{% block main %}
    <h1>
        Leaks
    </h1>
    <h4>__________________________________________________________________________________</h4>
        <div class="border border-success p-3 mb-2">
            <div class="border border-success p-3 mb-2">
                <h3>
                    In Version 2, a shop is going to be released where you can buy different abilities, a leaderboard where you can see the top 100 people with the most cash and there will be a new currency called food where you can feed your chicks! Here are pictures about the upcoming stuff:
                </h3>
                <div class="border border-success p-3 mb-2">
                    <a><img src="/static/leaks(1).jpg" alt="Leaks(1)" width="1100" height="600"></a>
                </div>
                <div class="border border-success p-3 mb-2">
                    <a><img src="/static/leaks(2).jpg" alt="Leaks(2)" width="1100" height="600"></a>
                </div>
                <div class="border border-success p-3 mb-2">
                    <a><img src="/static/leaks(3).jpg" alt="Leaks(2)" width="1100" height="600"></a>
                </div>
                <h3>
                    That's all of the leaks so far for version 2!
                </h3>
            </div>
        </div>
{% endblock %}
