{% extends "layout.html" %}

{% block title %}
    Password Generator
{% endblock %}

{% block main %}
    <h1>Here is your randomly generated password: </h1>
    <h1></h1>
    <div class="border border-success p-3 mb-2">
        <h1>{{ password }}</h1>
    </div>
    <h4>Select the password by dragging the password from its start to end, copy the password by holding the Ctrl (⌘ for mac) and C. Click <a href="/register">here</a> to go back to the register page and paste the password by holding the Ctrl (⌘ for mac) and V.</h4>

    <h2>Click the button below to get a new randomly generated password!</h2>

    <button class="btn btn-primary" onclick="location.href='/passwordgen'">Regenerate</button>
{% endblock %}
