{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell</h1>
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="Chicks" required>
                <option disable selected> Choose Chick</option>
                {% for chick in Chicks %}
                    <option value="{{ chick }}">{{ chick }}</option>
                {% endfor %}
            </select>
        </div>
        <button class='btn btn-primary' onclick="location.href='/'" type="submit">Sell</button>
    </form>
{% endblock %}
