{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}
{% block main %}
    <h1>
        <a><img src="/static/shop.jpg" alt="Shop icon" width="80" height="80"></a>
        SHOP
        <a><img src="/static/shop.jpg" alt="Shop icon" width="80" height="80"></a>
    </h1>
    <h4>__________________________________________________________________________________</h4>
        <div class="border border-success p-3 mb-2">
            <h1>
                <div class="border border-success p-3 mb-2">
                    <div class="border border-success p-3 mb-2">
                       <h2>x2 Money Earned Every Chick Sold</h2>
                    </div>
                    <div class="border border-success p-3 mb-2">
                        <div>
                            <h1>
                                <a><img src="/static/money_bag.jpg" alt="Money" width="50" height="42"></a>
                                Cost: $4,000.00
                            </h1>
                        </div>
                        <button class='btn btn-primary' type="submit">Purchase</button>
                    </div>
                    <div class="border border-success p-3 mb-2">
                        <h2>x2 Luck Every Hatch</h2>
                     </div>
                     <div class="border border-success p-3 mb-2">
                         <div>
                             <h1>
                                 <a><img src="/static/money_bag.jpg" alt="Money" width="50" height="42"></a>
                                 Cost: $3,000.00
                             </h1>
                         </div>
                </div>
            </h1>
        </div>
{% endblock %}
